*
{
	margin: 0;
	padding: 0;
}

#mainDiv
{
	width: 1000px;
	margin: auto;
	background: fuchsia;
}

#topHeader
{

}

#topNav
{

}

#mainSection
{
	float: left;
	width: 800px;
	background: red;
}

#rightAside
{
	float: left;
	width: 200px;;
	background: green;
}

#bottomFooter
{
	clear: both;
	background: blue;
}

article
{
	font-family: arial;
	margin: 10px;
	background: yellow;
	border: 1px solid black;
}
article header
{
	font-size: 30px;
	font-weight: bold;
}
article footer
{
	text-align: right;
	font-style: italic;
}